/OS3 - Bash skriptiranje/kviz
/OS3 - Bash skriptiranje/vjezba
/OS3 - Bash skriptiranje/zadatak3
/OS3 - Bash skriptiranje/online_vjezba
/OS3 - Bash skriptiranje/zadaci
/os-mid
OS4 - Rad na Virtualnom stroju: Uvod/ubuntu-24.04.2-live-server-amd64.iso
OS4 - Rad na Virtualnom stroju: Uvod/ubuntu-24.04.2-live-server-arm64.iso
